<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Carrito</title>
  </head>
  <body>
    {{#if products.length}}
      <ul>
        {{#each products}}
          <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>No hay productos en el carrito.</p>
    {{/if}}
  </body>
</html>
